<h1>Artists</h1>

<% @artists.each do |artist| %>
  <%= link_to artist.name, artists_path(artist_id: artist.id) %>
<% end %>

<h3><%= @artist.name %> Discography</h3>

<ul>
  <% @artist.albums.each do |album| %>
    <li><%= album.title %></li>
  <% end %>
</ul>

<%= link_to "Visit artist's page", artist_path(@artist) %>